<header>
    <div class="flex justify-start h-20 items-center">
        <img class="w-40 h-20" src="assets/img/LOGO%20SEGUNDARIO.png" >
    </div>
</header>

<!--Versión Mobil-->
@if (!mostrarSeccion) {
     <section class="bg-[#4a546a] w-full p-2 pb-10">
   <div class="flex flex-col justify-center text-center text-2xl ">
       <div class="z-1">
           <h1 class="mx-2 text-[#b9dd71] text-xl">ASEGURA TU PATRIMONIO EN LOS ESTADOS UNIDOS</h1>
           <p class="text-[#dadbdc]  mt-2 ">Tu inversión en bienes raíces, comienza con los 40 minutos que le dediques a este webinar gratuito</p>
       </div>
       <div  class="flex justify-center items-start my-10">
       <div class="max-w-72">
               <video  id="videoPlayer" controls autoplay>
               <source  src="assets/video/VIDEO%20XAVIER.mp4" type="video/mp4">
           </video>
       </div>
       </div>
   </div>
   <div>
       <div class="flex justify-center">
       <form class="bg-white w-96 p-5 rounded-2xl mx-2 md:w-1/2 shadow-gray-950 shadow-md">
           <div class="relative z-0 w-full mb-5 group">
               <input type="text" class="block  pt-3 pb-2 px-0 w-full text-sm text-gray-900 bg-transparent border-0 border-b-2 border-gray-300 appearance-none dark:text-[#4a546a] dark:border-gray-600 dark:focus:border-blue-500 focus:outline-none focus:ring-0 focus:border-blue-600 peer" placeholder=" " required />
               <label  class="peer-focus:font-medium absolute text-sm text-[#4a546a] dark:text-[#4a546a] duration-300 transform -translate-y-6 scale-90 top-2 -z-10 origin-[0] peer-focus:start-1 rtl:peer-focus:translate-x-1/4 peer-focus:text-[#b9dd71] peer-focus:dark:text-[#b9dd71] peer-placeholder-shown:scale-100 peer-placeholder-shown:translate-y-0 peer-focus:scale-90 peer-focus:-translate-y-6">Nombre y Apellido</label>
           </div>
           <div>
               <div class="relative z-0 w-full mb-5 group">
                   <input type="email"  class="block pt-3 pb-2 px-0 w-full text-sm text-gray-900 bg-transparent border-0 border-b-2 border-gray-300 appearance-none dark:text-[#4a546a] dark:border-gray-600 dark:focus:border-blue-500 focus:outline-none focus:ring-0 focus:border-blue-600 peer" placeholder=" " required />
                   <label class="peer-focus:font-medium absolute text-sm text-[#4a546a] dark:text-[#4a546a] duration-300 transform -translate-y-6 scale-90 top-2 -z-10 origin-[0] peer-focus:start-1 rtl:peer-focus:translate-x-1/4 peer-focus:text-[#b9dd71] peer-focus:dark:text-[#b9dd71] peer-placeholder-shown:scale-100 peer-placeholder-shown:translate-y-0 peer-focus:scale-90 peer-focus:-translate-y-6">Email</label>
               </div>
               <div class="relative z-0 w-full mb-5 group">
                   <input type="number" class="block pt-3 pb-2 px-0 w-full text-sm text-gray-900 bg-transparent border-0 border-b-2 border-gray-300 appearance-none dark:text-[#4a546a] dark:border-gray-600 dark:focus:border-blue-500 focus:outline-none focus:ring-0 focus:border-blue-600 peer" placeholder=" " required />
                   <label class="peer-focus:font-medium absolute text-sm text-[#4a546a] dark:text-[#4a546a] duration-300 transform -translate-y-6 scale-90 top-2 -z-10 origin-[0] peer-focus:start-1 rtl:peer-focus:translate-x-1/4 peer-focus:text-[#b9dd71] peer-focus:dark:text-[#b9dd71] peer-placeholder-shown:scale-100 peer-placeholder-shown:translate-y-0 peer-focus:scale-90 peer-focus:-translate-y-6">Teléfono</label>
               </div>
           </div>
           <div class="grid grid-cols-2 gap-6">
               <div class="relative z-0 w-full mb-5 group ">
                   <div class="select-container">
                       <select class="text-left w-full rounded p-2">
                           <option value="" >País</option>
                           <option value="opcion1">Opción 1</option>
                           <option value="opcion2">Opción 2</option>
                           <option value="opcion3">Opción 3</option>
                       </select>
                   </div>
               </div>
               <div class="relative z-0 w-full mb-5 group">
                   <div class="select-container">
                       <select class="text-left  w-full  rounded p-2">
                               <option value="" >Ciudad</option>
                           <option value="opcion1">Opción 1</option>
                           <option value="opcion2">Opción 2</option>
                           <option value="opcion3">Opción 3</option>
                       </select>
                   </div>
               </div>
           </div>
           <div class="grid justify-center">
               <button type="submit" class="button-send w-full text-[#b9dd71] bg-[#4a546a] hover:bg-[#b9dd71]  hover:text-[#4a546a] focus:ring-4 focus:outline-none  font-extrabold rounded-lg   px-5 py-2.5 text-center dark:bg-[#4a546a] text-2xl">Registrarme</button>
           </div>
       </form>
       </div>
   </div>
</section>
}

<!--Versión Escritorio-->
@if (mostrarSeccion) {
    <section class="bg-[#4a546a] w-full p-2 pb-10 flex justify-evenly">
        <div class="flex flex-col text-3xl">
            <div class="flex flex-col pl-5">
                <h1 class="my-2 text-[#b9dd71] text-5xl ">ASEGURA TU PATRIMONIO <br> EN LOS ESTADOS UNIDOS </h1>
                <p class="text-[#dadbdc] tracking-[.20em] ">Tu inversión en bienes raíces, comienza con los 40 minutos <br> que le dediques a este webinar gratuito</p>
            </div>
            <div class="flex justify-center my-10">
                <div class="flex justify-center w-full">
                    <form class="text-start bg-white  md:w-1/2 p-5 rounded-2xl mx-2 shadow-gray-950 shadow-md">
                        <div class="relative z-0 w-full mb-5 group">
                            <input type="text" class="block pt-3 pb-2 px-0 w-full text-sm text-gray-900 bg-transparent border-0 border-b-2 border-gray-300 appearance-none dark:text-[#4a546a] dark:border-gray-600 dark:focus:border-blue-500 focus:outline-none focus:ring-0 focus:border-blue-600 peer" placeholder=" " required />
                            <label  class="peer-focus:font-medium absolute text-sm text-[#4a546a] dark:text-[#4a546a] duration-300 transform -translate-y-6 scale-90 top-2 -z-10 origin-[0] peer-focus:start-1 rtl:peer-focus:translate-x-1/4 peer-focus:text-[#b9dd71] peer-focus:dark:text-[#b9dd71] peer-placeholder-shown:scale-100 peer-placeholder-shown:translate-y-0 peer-focus:scale-90 peer-focus:-translate-y-6">Nombre y Apellido</label>
                        </div>
                        <div>
                            <div class="relative z-0 w-full mb-5 group">
                                <input type="email"  class="block pt-3 pb-2 px-0 w-full text-sm text-gray-900 bg-transparent border-0 border-b-2 border-gray-300 appearance-none dark:text-[#4a546a] dark:border-gray-600 dark:focus:border-blue-500 focus:outline-none focus:ring-0 focus:border-blue-600 peer" placeholder=" " required />
                                <label class="peer-focus:font-medium absolute text-sm text-[#4a546a] dark:text-[#4a546a] duration-300 transform -translate-y-6 scale-90 top-2 -z-10 origin-[0] peer-focus:start-1 rtl:peer-focus:translate-x-1/4 peer-focus:text-[#b9dd71] peer-focus:dark:text-[#b9dd71] peer-placeholder-shown:scale-100 peer-placeholder-shown:translate-y-0 peer-focus:scale-90 peer-focus:-translate-y-6">Email</label>
                            </div>
                            <div class="relative z-0 w-full mb-5 group">
                                <input type="number" class="block pt-3 pb-2 px-0 w-full text-sm text-gray-900 bg-transparent border-0 border-b-2 border-gray-300 appearance-none dark:text-[#4a546a] dark:border-gray-600 dark:focus:border-blue-500 focus:outline-none focus:ring-0 focus:border-blue-600 peer" placeholder=" " required />
                                <label class="peer-focus:font-medium absolute text-sm text-[#4a546a] dark:text-[#4a546a] duration-300 transform -translate-y-6 scale-90 top-2 -z-10 origin-[0] peer-focus:start-1 rtl:peer-focus:translate-x-1/4 peer-focus:text-[#b9dd71] peer-focus:dark:text-[#b9dd71] peer-placeholder-shown:scale-100 peer-placeholder-shown:translate-y-0 peer-focus:scale-90 peer-focus:-translate-y-6">Teléfono</label>
                            </div>
                        </div>
                        <div class="grid grid-cols-2 gap-6">
                            <div class="relative z-0 w-full mb-5 group ">
                                <div class="select-container">
                                    <select class="text-left w-full rounded p-2 text-sm">
                                        <option value="" >País</option>
                                        <option value="opcion1">Opción 1</option>
                                        <option value="opcion2">Opción 2</option>
                                        <option value="opcion3">Opción 3</option>
                                    </select>
                                </div>
                            </div>
                            <div class="relative z-0 w-full mb-5 group">
                                <div class="select-container">
                                    <select class="text-left  w-full  rounded p-2 text-sm">
                                        <option value="" >Ciudad</option>
                                        <option value="opcion1">Opción 1</option>
                                        <option value="opcion2">Opción 2</option>
                                        <option value="opcion3">Opción 3</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                        <div class="grid justify-center">
                            <button type="submit" class="button-send w-full text-[#b9dd71] bg-[#4a546a] hover:bg-[#b9dd71]  hover:text-[#4a546a] focus:ring-4 focus:outline-none  font-extrabold rounded-lg   px-5 py-2.5 text-center dark:bg-[#4a546a] text-2xl">Registrarme</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <div class="flex justify-center">
        <div class="flex pt-10 w-96">
                <video controls start="2" autoplay>
                    <source src="assets/video/VIDEO%20XAVIER.mp4" type="video/mp4">
                </video>
            </div>
        </div>
    </section>
}

<section >
    <div class="container-2 flex flex-col justify-around items-center text-center bg-opacity-100  sm:flex-row">
        <div>
            <h1 class="text-[#b9dd71] text-3xl">7 AÑOS</h1>
            <p class="text-white"> De experiencia en bienes raíces</p>
        </div>
        <div class="mt-5 sm:mt-0 sm:ml-5">
            <h1 class="text-[#b9dd71] text-3xl">41 MILLONES USD</h1>
            <p class="text-white">Vendidos en propiedad en los últimos dos años </p>
        </div>
        <div class="mt-5 sm:mt-0 sm:ml-5">
            <h1 class="text-[#b9dd71] text-3xl">52% ROI</h1>
            <p class="text-white">Un retorno de inversión aproximado</p>
        </div>
    </div>
</section>
<section>
    <div class="md:flex">
        <div class="md:w-1/2 flex w-auto pr-3 py-5 my-5 mx-8 border-1 rounded-2xl border-white shadow-gray-400 shadow-md">
            <div class="flex  my-5 mx-3">
                <div class="relative box-content flex items-center justify-center overflow-hidden rounded-full size-20 bg-blue-700">
                    <span class="flex items-center justify-center font-semibold text-white text-sm">Aa</span>
                </div>
            </div>
            <div class="flex flex-col">
                <div class="relative">
                    <div class="flex items-center justify-start gap-0.5">
                        <div class="relative">
                            <svg width="24" height="24" viewBox="0 0 24 24" fill="#E2E8F0" stroke="#E2E8F0" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" xmlns="http://www.w3.org/2000/svg" class="fill-amber-300 stroke-amber-300">
                                <path d="M12 3L14.781 8.59516L21 9.4979L16.5 13.8507L17.562 20L12 17.0952L6.438 20L7.5 13.8507L3 9.4979L9.219 8.59516L12 3Z"></path>
                            </svg>
                        </div>
                        <div class="relative">
                            <svg width="24" height="24" viewBox="0 0 24 24" fill="#E2E8F0" stroke="#E2E8F0" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" xmlns="http://www.w3.org/2000/svg" class="fill-amber-300 stroke-amber-300">
                                <path d="M12 3L14.781 8.59516L21 9.4979L16.5 13.8507L17.562 20L12 17.0952L6.438 20L7.5 13.8507L3 9.4979L9.219 8.59516L12 3Z"></path>
                            </svg>
                        </div>
                        <div class="relative">
                            <svg width="24" height="24" viewBox="0 0 24 24" fill="#E2E8F0" stroke="#E2E8F0" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" xmlns="http://www.w3.org/2000/svg" class="fill-amber-300 stroke-amber-300">
                                <path d="M12 3L14.781 8.59516L21 9.4979L16.5 13.8507L17.562 20L12 17.0952L6.438 20L7.5 13.8507L3 9.4979L9.219 8.59516L12 3Z"></path>
                            </svg>
                        </div>
                        <div class="relative">
                            <svg width="24" height="24" viewBox="0 0 24 24" fill="#E2E8F0" stroke="#E2E8F0" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" xmlns="http://www.w3.org/2000/svg" class="fill-amber-300 stroke-amber-300">
                                <path d="M12 3L14.781 8.59516L21 9.4979L16.5 13.8507L17.562 20L12 17.0952L6.438 20L7.5 13.8507L3 9.4979L9.219 8.59516L12 3Z"></path>
                            </svg>
                        </div>
                        <div class="relative">
                            <svg width="24" height="24" viewBox="0 0 24 24" fill="#E2E8F0" stroke="#E2E8F0" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" xmlns="http://www.w3.org/2000/svg" class="fill-amber-300 stroke-amber-300">
                                <path d="M12 3L14.781 8.59516L21 9.4979L16.5 13.8507L17.562 20L12 17.0952L6.438 20L7.5 13.8507L3 9.4979L9.219 8.59516L12 3Z"></path>
                            </svg>
                        </div>
                    </div>
                </div>
                <div class="text-start">
                    <p class="leading-6">"Ellos no solo nos ayudan a levantar las rentas de la casa que ya teníamos sino que tiempo después decidimos invertir
                        en una segunda propiedad, la que ellos nos recomendaron, y nos comenzó a ir tan bien que invertimos en otra más igualita"</p>
                    <strong>Francisco Sevilla</strong>
                </div>
            </div>
        </div>
        <div class="md:w-1/2 flex w-auto pr-3 py-5 my-5 mx-8 border-1 rounded-2xl border-white shadow-gray-400 shadow-md">
            <div class="flex  my-5 mx-3">
                <div class="relative box-content flex items-center justify-center overflow-hidden rounded-full size-20 bg-blue-700">
                    <span class="flex items-center justify-center font-semibold text-white text-sm">Aa</span>
                </div>
            </div>
            <div class="flex flex-col">
                <div class="relative">
                    <div class="flex items-center justify-start gap-0.5">
                        <div class="relative">
                            <svg width="24" height="24" viewBox="0 0 24 24" fill="#E2E8F0" stroke="#E2E8F0" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" xmlns="http://www.w3.org/2000/svg" class="fill-amber-300 stroke-amber-300">
                                <path d="M12 3L14.781 8.59516L21 9.4979L16.5 13.8507L17.562 20L12 17.0952L6.438 20L7.5 13.8507L3 9.4979L9.219 8.59516L12 3Z"></path>
                            </svg>
                        </div>
                        <div class="relative">
                            <svg width="24" height="24" viewBox="0 0 24 24" fill="#E2E8F0" stroke="#E2E8F0" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" xmlns="http://www.w3.org/2000/svg" class="fill-amber-300 stroke-amber-300">
                                <path d="M12 3L14.781 8.59516L21 9.4979L16.5 13.8507L17.562 20L12 17.0952L6.438 20L7.5 13.8507L3 9.4979L9.219 8.59516L12 3Z"></path>
                            </svg>
                        </div>
                        <div class="relative">
                            <svg width="24" height="24" viewBox="0 0 24 24" fill="#E2E8F0" stroke="#E2E8F0" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" xmlns="http://www.w3.org/2000/svg" class="fill-amber-300 stroke-amber-300">
                                <path d="M12 3L14.781 8.59516L21 9.4979L16.5 13.8507L17.562 20L12 17.0952L6.438 20L7.5 13.8507L3 9.4979L9.219 8.59516L12 3Z"></path>
                            </svg>
                        </div>
                        <div class="relative">
                            <svg width="24" height="24" viewBox="0 0 24 24" fill="#E2E8F0" stroke="#E2E8F0" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" xmlns="http://www.w3.org/2000/svg" class="fill-amber-300 stroke-amber-300">
                                <path d="M12 3L14.781 8.59516L21 9.4979L16.5 13.8507L17.562 20L12 17.0952L6.438 20L7.5 13.8507L3 9.4979L9.219 8.59516L12 3Z"></path>
                            </svg>
                        </div>
                        <div class="relative">
                            <svg width="24" height="24" viewBox="0 0 24 24" fill="#E2E8F0" stroke="#E2E8F0" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" xmlns="http://www.w3.org/2000/svg" class="fill-amber-300 stroke-amber-300">
                                <path d="M12 3L14.781 8.59516L21 9.4979L16.5 13.8507L17.562 20L12 17.0952L6.438 20L7.5 13.8507L3 9.4979L9.219 8.59516L12 3Z"></path>
                            </svg>
                        </div>
                    </div>
                </div>
                <div class="text-start ">
                    <p class="leading-6">"Son muy analíticos y profesionales a la hora de ofrecerte una propiedad para inversión, saben lo que hacen"</p>
                    <strong>Diego Gutierrez</strong>
                </div>
            </div>
        </div>
    </div>
   <div class="md:flex">
       <div class="md:w-1/2  flex w-auto pr-3 py-5  my-5 mx-8 border-1 rounded-2xl border-white shadow-gray-400 shadow-md">
           <div class="flex  my-5 mx-3">
               <div class="relative box-content flex items-center justify-center overflow-hidden rounded-full size-20 bg-blue-700">
                   <span class="flex items-center justify-center font-semibold text-white text-sm">Aa</span>
               </div>
           </div>
           <div class="flex flex-col">
               <div class="relative">
                   <div class="flex items-center justify-start gap-0.5">
                       <div class="relative">
                           <svg width="24" height="24" viewBox="0 0 24 24" fill="#E2E8F0" stroke="#E2E8F0" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" xmlns="http://www.w3.org/2000/svg" class="fill-amber-300 stroke-amber-300">
                               <path d="M12 3L14.781 8.59516L21 9.4979L16.5 13.8507L17.562 20L12 17.0952L6.438 20L7.5 13.8507L3 9.4979L9.219 8.59516L12 3Z"></path>
                           </svg>
                       </div>
                       <div class="relative">
                           <svg width="24" height="24" viewBox="0 0 24 24" fill="#E2E8F0" stroke="#E2E8F0" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" xmlns="http://www.w3.org/2000/svg" class="fill-amber-300 stroke-amber-300">
                               <path d="M12 3L14.781 8.59516L21 9.4979L16.5 13.8507L17.562 20L12 17.0952L6.438 20L7.5 13.8507L3 9.4979L9.219 8.59516L12 3Z"></path>
                           </svg>
                       </div>
                       <div class="relative">
                           <svg width="24" height="24" viewBox="0 0 24 24" fill="#E2E8F0" stroke="#E2E8F0" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" xmlns="http://www.w3.org/2000/svg" class="fill-amber-300 stroke-amber-300">
                               <path d="M12 3L14.781 8.59516L21 9.4979L16.5 13.8507L17.562 20L12 17.0952L6.438 20L7.5 13.8507L3 9.4979L9.219 8.59516L12 3Z"></path>
                           </svg>
                       </div>
                       <div class="relative">
                           <svg width="24" height="24" viewBox="0 0 24 24" fill="#E2E8F0" stroke="#E2E8F0" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" xmlns="http://www.w3.org/2000/svg" class="fill-amber-300 stroke-amber-300">
                               <path d="M12 3L14.781 8.59516L21 9.4979L16.5 13.8507L17.562 20L12 17.0952L6.438 20L7.5 13.8507L3 9.4979L9.219 8.59516L12 3Z"></path>
                           </svg>
                       </div>
                       <div class="relative">
                           <svg width="24" height="24" viewBox="0 0 24 24" fill="#E2E8F0" stroke="#E2E8F0" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" xmlns="http://www.w3.org/2000/svg" class="fill-amber-300 stroke-amber-300">
                               <path d="M12 3L14.781 8.59516L21 9.4979L16.5 13.8507L17.562 20L12 17.0952L6.438 20L7.5 13.8507L3 9.4979L9.219 8.59516L12 3Z"></path>
                           </svg>
                       </div>
                   </div>
               </div>
               <div class="text-start ">
                   <p class="leading-6">"Yo tenía la intención de invertir en una casa en los Estados Unidos para poder proteger mi dinero y hacerlo crecer.
                       Xavier nos ayudó a seleccionar la mejor opción y nos guió durante todo el proceso"</p>
                   <strong>Mariola Gómez</strong>
               </div>
           </div>
       </div>
       <div class="md:w-1/2  flex w-auto pr-3 py-5 my-5 mx-8 border-1 rounded-2xl border-white shadow-gray-400 shadow-md">
           <div class="flex  my-5 mx-3">
               <div class="relative box-content flex items-center justify-center overflow-hidden rounded-full size-20 bg-blue-700">
                   <span class="flex items-center justify-center font-semibold text-white text-sm">Aa</span>
               </div>
           </div>
           <div class="flex flex-col">
               <div class="relative">
                   <div class="flex items-center justify-start gap-0.5">
                       <div class="relative">
                           <svg width="24" height="24" viewBox="0 0 24 24" fill="#E2E8F0" stroke="#E2E8F0" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" xmlns="http://www.w3.org/2000/svg" class="fill-amber-300 stroke-amber-300">
                               <path d="M12 3L14.781 8.59516L21 9.4979L16.5 13.8507L17.562 20L12 17.0952L6.438 20L7.5 13.8507L3 9.4979L9.219 8.59516L12 3Z"></path>
                           </svg>
                       </div>
                       <div class="relative">
                           <svg width="24" height="24" viewBox="0 0 24 24" fill="#E2E8F0" stroke="#E2E8F0" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" xmlns="http://www.w3.org/2000/svg" class="fill-amber-300 stroke-amber-300">
                               <path d="M12 3L14.781 8.59516L21 9.4979L16.5 13.8507L17.562 20L12 17.0952L6.438 20L7.5 13.8507L3 9.4979L9.219 8.59516L12 3Z"></path>
                           </svg>
                       </div>
                       <div class="relative">
                           <svg width="24" height="24" viewBox="0 0 24 24" fill="#E2E8F0" stroke="#E2E8F0" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" xmlns="http://www.w3.org/2000/svg" class="fill-amber-300 stroke-amber-300">
                               <path d="M12 3L14.781 8.59516L21 9.4979L16.5 13.8507L17.562 20L12 17.0952L6.438 20L7.5 13.8507L3 9.4979L9.219 8.59516L12 3Z"></path>
                           </svg>
                       </div>
                       <div class="relative">
                           <svg width="24" height="24" viewBox="0 0 24 24" fill="#E2E8F0" stroke="#E2E8F0" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" xmlns="http://www.w3.org/2000/svg" class="fill-amber-300 stroke-amber-300">
                               <path d="M12 3L14.781 8.59516L21 9.4979L16.5 13.8507L17.562 20L12 17.0952L6.438 20L7.5 13.8507L3 9.4979L9.219 8.59516L12 3Z"></path>
                           </svg>
                       </div>
                       <div class="relative">
                           <svg width="24" height="24" viewBox="0 0 24 24" fill="#E2E8F0" stroke="#E2E8F0" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" xmlns="http://www.w3.org/2000/svg" class="fill-amber-300 stroke-amber-300">
                               <path d="M12 3L14.781 8.59516L21 9.4979L16.5 13.8507L17.562 20L12 17.0952L6.438 20L7.5 13.8507L3 9.4979L9.219 8.59516L12 3Z"></path>
                           </svg>
                       </div>
                   </div>
               </div>
               <div class="text-start ">
                   <p class="leading-6">"Mi experiencia ha sido maravillosa , siempre ha estado al pendiente de cada detalle y de todas las dudas que me fueron"
                       surgiendo en todo el proceso. Si decidiera comprar otra casa, definitivamente lo volvería a hacer con él"</p>
                   <strong>Marytere Sevilla </strong>
               </div>
           </div>
       </div>
   </div>
</section>

<footer>
    <div class="flex justify-center h-20 items-center">
        <img class="w-60 h-20" src="assets/img/LOGO%20PRINCIPAL.png" >
    </div>
</footer>

